<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <title>Perfil</title>
</head>

<body>
<main>
    <!-- fragment navbar -->
    <div layout:fragment="navbar"></div>

    <!-- fragment contenido html -->
    <div layout:fragment="content">

        <form method="POST" action="/user/save" enctype="multipart/form-data">
            <div class="container-usuario">
                <TABLE class="tabla-usuario" BORDER="0" CELLPADDING="10px" CELLSPACING="0">
                    <TR>
                        <TD>
                            <div class="image-cropper">
                                <img class="my-picture" th:src="${userData.getAvatarUrl() == null ? '/img/usermelon.png' : userData.getAvatarUrl() }" alt="Avatar">
                            </div>
                        </TD>
                    </TR>
                    <TR>
                        <TD><label>Usuario:</label></TD>
                        <TD><input type="text" name="nombre_x"></TD>
                    </TR>
                    <TR>
                        <TD><label>Correo:</label></TD>
                        <TD><input type="text" name="correo_x"></TD>
                    </TR>
                    <TR>
                        <td> <label>nueva contraseña:</label> </td>
                        <TD><input type="password" name="pass_x"></TD>
                    </TR>
                    <TR>
                        <td> foto:</td>
                        <TD><input type="file" name="image"></TD>
                    </TR>
                    <TR>
                        <td></td>
                        <TD><button type="submit">Guardar</button></TD>
                    </TR>

                </TABLE>
            </div>
        </form>


    </div>


</main>
</body>

</html>