<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recuperar Contraseña</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="#" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/recoverPasswordStyle.css}"/>
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <script src="./asset/javascript/javascript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>

<body>
<main>
    <div class="background-video">
        <video id="background-video" autoplay loop muted >
            <source th:src="@{/img/videoBgLog.webm}" type="video/mp4">
        </video>
    </div>
    <article class="container-fluid">
        <div class="row contenido">

            <div class="col-md">

            </div>

            <div class="col login d-flex justify-content-center flex-column">

                <section>
                    <img th:src="@{/img/logoletranegra.png}" alt="Imagen">
                </section>
                <section>
                    <form action="/recoverPassword" method="post">
                            <div class="texto-formulario">
                                <h2 th:text="#{Recover.Password}"></h2>

                            <h3 class="textoenvio">Te enviaremos un correo para recuperar tu contraseña</h3>
                            <!-- <p class="inf"></p> -->
                            <!-- <h2>Que hay de nuevo melon</h2>
                            <p class="inf">Inicia sesión con tu cuenta melón</p> -->
                        </div>

                        <div class="input">
                            <label for="Meloner">Meloner</label>
                            <input placeholder="Introduce tu correo" type="text" id="Meloner" name="email">
                        </div>


                        <div class="input">
                            <!-- <input type="submit" value="Login"> -->
                            <button type="submit">Enviar</button>
                        </div>
                        <div class="registro-usuario">
                            <a href="#">¿Aún no eres Meloner?</a>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md">

            </div>
    </article>
</main>
</body>

</html>