<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <title>My Tasks</title>
</head>

<body>
<main>
    <!-- fragment navbar -->
    <div layout:fragment="navbar"></div>

    <!-- fragment contenido html -->
    <div layout:fragment="content">

        <div class="box-body">
            Show <span sd:page-size-selector="javascript"></span> entries
            <form action="#" class="form" th:action="@{'/'}" method="post">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Starting Date</th>
                            <th>Ending Date</th>
                            <th>location Url</th>
                            <th>owner</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task,iter : ${tasks}">
                            <td th:text="${task.id}"></td>
                            <td th:text="${task.title}"></td>
                            <td th:text="${task.startDate}"></td>
                            <td th:text="${task.endDate}"></td>
                            <td th:text="${task.locationUrl}"></td>
                            <td th:text="${task.ownerId}"></td>
                            <td>
<!--                                <a href="#" class="btn btn-default" th:href="@{'/tasks/' + ${task.id}}"-->
<!--                                   title="View"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>-->
<!--                                <a href="#" class="btn btn-default" th:href="@{'/tasks/' + ${task.id} + '/edit'}"-->
<!--                                   title="Edit"><span class="glyphicon glyphicon-edit"></span></a>-->
<!--                                <button class="btn btn-danger" type="submit" value="Delete"-->
<!--                                        th:formaction="'/tasks/' + ${task.id} + '/delete'">-->
<!--                                    <span class="glyphicon glyphicon-trash"></span>-->
                                </button>
                                <!--                                        <a href="#" class="btn btn-default" th:href="@{'/tasks/' + ${task.id} + '/delete'}"-->
                                <!--                                           title="Delete"><span class="glyphicon glyphicon-trash"></span></a>-->
                            </td>
                        </tr>
<!--                        <tr th:if="${#lists.isEmpty(tasks.content)}">-->
<!--                            <td colspan="13" class="text-center">No Tasks</td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </div>

</body>
</html>