<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        layout:decorate="~{layoutHome}">

<head>
    <title>Home</title>
</head>

<body>
<main>
    <!-- fragment navbar -->
    <div layout:fragment="navbar"></div>

    <!-- fragment contenido html -->
    <div layout:fragment="content">


        <!-- USER BUTTON -->
        <div class="container-controls">


            <!-- ESTADO DE REGISTROS -->
            <div class="container-state" th:if="${tasks.isEmpty()}">
                <!--<li id = "stateli">AÚN NO HAY TAREAS</li>-->
                <p th:text="#{Task.AnyTask}"></p>
            </div>
            <!--TO.DO: No mostrar en el caso de haber tareas registradas'-->
            <div class="container-state" th:if="${!tasks.isEmpty()}">
            </div>

            <!-- SEARCH TASK -->
            <div class="dropdown-filt">
                <button onclick="myFunction()" class="dropbtn">FILTER</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="#Work">Work</a>
                    <a href="#Sport">Sport</a>
                    <a href="#Fun">Fun</a>
                    <a href="#Personal">Personal</a>
                    <a href="#ToLearn">ToLearn</a>
                    <a href="#Pep">Pep</a>
                    <a href="#JGarcia">JGarcia</a>
                    <a href="#Bflores">Bflores</a>
                    <a href="#JCarras">JCarras</a>
                    <a href="#NuevoMeloner con el que compartie una tarea">NuevoMeloner con el que compartie una tarea</a>
                </div>
            </div>

            <!-- BUTTON TASK -->
            <div class="follow">
                <div class="icon first"><img th:src="@{/img/icons/plus-iconsW.svg}" alt="Crear Tarea"></div>
                <div class="icon deletetarea"><img th:src="@{/img/icons/trash-iconW.svg}" alt="Eliminar tarea"></div>
                <div class="icon"><img th:src="@{/img/icons/mark-iconsW.svg}" alt="Seleccionar todo"></div>
                <div class="icon last"><img th:src="@{/img/icons/share_iconW.svg}" alt="Compartir Tarea"></div>
                <div class="label">
                    tasks
                    <!-- <img src="./asset/img/menu-lateral/help_icon.svg" alt="Usuario"> -->
                </div>
            </div>

        </div>


        <!--------  Ejemplo interfaz web de manejo de tareas  ------->
        <div class="container-tasks">

            <!-- TASK REG -->
            <div class="tasks">
                    <form method="post" id="tasksForm">
                            <div th:each="task,iter : ${tasks}">

                                    <input class="taskInput" th:id="'label-'+${iter.index + 1}" type='checkbox' name="taskid" th:value="${task.id}"/>
                                    <label class="taskLabel" th:for="'label-'+${iter.index + 1}">

                                        <div class="typetask"> </div>

                                        <h2>
                                            <div class="task-tittle">
                                                <img th:src="@{/img/icons/working.png}" alt="Imagen">
                                                <span th:text="${task.title}"/>
                                            </div>
                                            <div class="task-controls">
                                                <!--    <img src="./asset/img/icons/edit-iconW.svg" alt="Imagen"> -->
                                                <button type="button" class="btn-edit" th:id="'botonedit-'+${iter.index}">
                                                    <span>.</span>
                                                </button>
                                                <button type="button" class="btn-select" th:id="'botonselect-'+${iter.index}">
                                                    <span>Select</span>
                                                </button>

                                                <!--  SELECT BUTTON -->
                                                <!--
                                                    <input class="btn-check" type="radio" value="" id="select-1">
                                                    <label class="btn btn-primary" for="select-1">select</label>
                                                -->
                                            </div>
                                            <span th:text="${task.description}"/>
                                        </h2>
                                    </label>


                            </div>
                    </form>

            </div>

        </div>

    </div>


</main>
</body>

</html>