<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <title>Horario</title>
    <link rel="stylesheet" th:href="@{/css/mensajes.css}">
    <link rel="stylesheet" th:href="@{/css/TBS.css}">
    <script type="text/javascript" th:src="@{/js/TBS.js}"></script>

</head>

<body>
<main>
    <!-- fragment navbar -->
    <div layout:fragment="navbar"></div>

    <!-- fragment contenido html -->
    <div layout:fragment="content">
        <div class="messages">
            <div class="box-body">

                <form style="margin:3%" class="form-newTask" action="/" th:action="@{/business/horario}"
                      th:object="${horarios}" method="post">
                    <div class="content">
                        <h2>Crear tarea de empresa</h2>
                        <div class="equipos">
                            <label for="team">Equipo:</label>
                            <select style="height:auto; text-align:center" name="team" id="team"
                                    multiple="multiple"
                                    th:field="*{equipos}">
                                <option th:each="community : ${equipos}"
                                        th:value="${{community}}"
                                        th:text="'&#127816;' + '  ' + ${community.name}">
                                </option>
                            </select>
                        </div>
                        <div class="titulo">
                            <label for="Titulo">Titulo (0/60)</label>
                            <input type="text" class="form-control"
                                   id="Titulo" placeholder=""
                                   th:field="${horarios.title}"
                                   maxlength="60" style="width:60%;text-align:center;display:flex;margin:auto;"
                                   required onclick="contchar()">
                        </div>
                        <div class="iniciofintarea">
                            <div class="titulos">
                                <h3>Inicio</h3>
                                <h3>Fin</h3>
                                <h3>Tarea</h3>
                            </div>
                            <div id="resultados">
                                <div id="tarea">

                                    <input class="iresultados" type="datetime-local" name="inicio" id="inicio_0"
                                           th:field="${{horarios.startLocalDateTime}}" required>
                                    <input class="iresultados" type="datetime-local" name="fin" id="fin_0"
                                           th:field="${{horarios.endLocalDateTime}}" required>
                                    <textarea style="max-width:100%;" placeholder="" type="text"  name="tarea" id="tarea_0" cols="100" rows="1"
                                              th:field="${{horarios.task}}" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btns-compartir">
                            <button id="tareaadd" type="button">Añadir Tareas</button>
                            <button id="compartir" type="submit">compartir</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>