<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <title>Horario</title>
    <link rel="stylesheet" th:href="@{/css/mensajes.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/THU.css}">-->
    <!--    <script type="text/javascript" th:src="@{/js/TBS.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/addTask.js}"></script>
</head>

<body>
<main>
    <!-- fragment navbar -->
    <div layout:fragment="navbar"></div>

    <!-- fragment contenido html -->
    <div layout:fragment="content">
        <div class="tabla1">
            <div class="box-body">

                <form style="margin:3%" class="form-newTask" action="/" th:action="@{/user/horario}"
                      th:object="${horarios}" method="post">
                    <div class="content">
                        <h2>Horario</h2>
                        <div class="equipos" hidden>
                            <label for="team">Amigos:</label>
                            <select style="height:auto; text-align:center" name="team" id="team"
                                    multiple="multiple"
                                    th:field="*{equipos}">
                                <option th:each="community : ${equipos}"
                                        th:value="${{community}}"
                                        th:text="'&#127816;' + '  ' + ${community.name}">
                                </option>
                            </select>
                        </div>
                        <div class="titulo">
                            <label for="Titulo">Titulo (0/60)</label>
                            <input type="text" class="form-control"
                                   id="Titulo" placeholder=""
                                   th:field="${horarios.title}"
                                   maxlength="60" style="width:100%;text-align:center;display:flex;margin:auto;"
                                   required onclick="contchar()">
                        </div>
                        <table class="table-responsive"
                               style="width:60%;text-align:center;margin:auto; padding-bottom:3%">
                            <tr>
                                <th>Nueva Tarea </th>
                            </tr>
                            <tr id="name1">
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime1}" required></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime1}" required></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task1}" required></textarea>
                                </td>
                            <tr id="name2" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime2}" ></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime2}" ></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task2}"></textarea>
                                </td>
                            <tr id="name3" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime3}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime3}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task3}"></textarea>
                                </td>
                            <tr id="name4" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime4}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime4}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task4}"></textarea>
                                </td>
                            <tr id="name5" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime5}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime5}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task5}"></textarea>
                                </td>
                            <tr id="name6" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime6}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime6}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task6}"></textarea>
                                </td>
                            <tr id="name7" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime7}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime7}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task7}"></textarea>
                                </td>
                            <tr id="name8" hidden>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.startLocalDateTime8}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <input type="datetime-local"
                                           th:field="${horarios.endLocalDateTime8}"></td>
                                <td style="display: inline-block; padding: 5px;">
                                    <textarea style="width:100%;resize:both;
                                     margin: auto; border:none;"
                                              cols="90" rows="1" placeholder="" type="text" name="name"
                                              th:field="${horarios.task8}"></textarea>
                                </td>
                        </table>
                        <button style="float: left;margin:2%" type="button" onclick='addInput()'>Añadir tarea</button>
                        <button style="float: right;margin:2%" type="submit" >Compartir </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>