<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        name="viewport"/>
  <title>Recuerda melon</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../static/img/logo.ico" />
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/loginStyle.css">
  <link rel="icon" type="image/ico" href="../static/img/favicon.ico" />

</head>

<body>
<main>
  <div class="background-video">
    <video id="background-video" autoplay loop muted>
      <source src="./static/img/pexels-polina-kovaleva-7258391.webm" type="video/mp4">
    </video>
  </div>
  <article class="imagenes">
    <img src="./static/img/9-removebg-preview.png" alt="letras1">
    <img src="./static/img/10-removebg-preview.png" alt="letras2">
    <img src="./static/img/11-removebg-preview.png" alt="letras3">
  </article>
  <article class="login">
    <section>
      <img src="./static/img/logotipo.png" alt="Imagen">
    </section>
    <section>
      <form action="#" method="post">
        <div class="texto-formulario">
          <h2>Inicia seción con tu cuenta melon</h2>
          <!-- <p class="inf"></p> -->
          <!-- <h2>Que hay de nuevo melon</h2>
          <p class="inf">Inicia seción con tu cuenta melon</p> -->
        </div>

        <div class="input">
          <label for="Meloner">Meloner</label>
          <input placeholder="Identificate Meloner" type="text" id="Meloner">
        </div>
        <div class="input">
          <label for="contraseña">Contraseña</label>
          <input placeholder="Ingresa tu contraseña" type="password" id="contraseña">
        </div>
        <div class="password-olvidada">
          <a href="#">¡Olbidaste tu contraceña melon!</a>
        </div>
        <div class="input">
          <!-- <input type="submit" value="Login"> -->
          <button type="submit">Login</button>
        </div>
        <div class="reguistro-usuario">
          <a href="#">¿Aún no eres Meloner?</a>
        </div>
      </form>
    </section>
  </article>
</main>
</body>

</html>