<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- ESTILOS PROPIOS -->
    <link rel="stylesheet" th:href="@{/css/amigos.css}">

</head>

<body>

<div layout:fragment="navbar"></div>

<!-- fragment contenido html -->
<div layout:fragment="content">
<section>

    <form action="/" th:action="@{/community/create}" th:object="${newCommunity}" method="post">

        <p th:if="${errors}" th:text="#{Registro.Error}"></p>

        <div class="texto-formulario">
            <h2 th:text="#{NewComm.Title}"></h2> <!-- <h2>Crear una nueva cuenta Meloner</h2> -->
        </div>


        <div class="input">
            <label for="name" th:text="#{NewComm.Name}" ></label>   <!-- <label for="Meloner">Elija tu nombre Meloner</label>>  -->
            <input placeholder="" type="text" id="name" name="name"  required th:field="${newCommunity.name}" >
        </div>
        <div class="input">
            <button type="submit" th:text="#{Registro.Button.Submit}"></button>  <!-- >Crear cuenta</button> -->
        </div>

    </form>



</section>
</div>
</body>
</html>