<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sd="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layoutHome}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- ESTILOS PROPIOS -->
    <link rel="stylesheet" th:href="@{/css/amigos.css}">
    <title>Contactos</title>
</head>

<body>

<div layout:fragment="navbar"></div>

<!-- fragment contenido html -->
<div layout:fragment="content">

    <div class="tabla2">
        <div th:if="${community.admin == user.id}">
            <table class="table table-bordered table-hover" id="users">
                <tbody>
                <tr th:each="user,iter : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:if="${community.admin != user.id}">
                        <a th:href="@{'/community/' + ${community.name} + '/' + ${user.username} +'/delete'}"
                           onclick="return confirm('¿Estás seguro de que quieres eliminar del grupo a este Meloner?')">&#128465;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${community.admin != user.id}">
            <table class="table table-bordered table-hover" id="users">
                <tbody>
                <tr th:each="user,iter : ${users}">
                    <td th:text="${user.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="input" style="text-align:center">
            <a class="box-title btn btn-success" th:href="@{'/community/' + ${community.name} + '/users'}">Añadir
                usuario</a>
        </div>
        <div th:if="${community.admin == user.id}">
            <div class="input" style="text-align:center; margin:5%;">
                <a class="box-title btn btn-danger" th:href="@{'/community/' + ${community.name} + '/delete'}"
                   onclick="return confirm('¿Estás seguro de que quieres eliminar este grupo?')">Eliminar Comunidad</a>
            </div>
        </div>

    </div>
</body>
</html>