<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        layout:decorate="~{layoutHome}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <div sec:authorize="hasRole('PLAIN_USER')">
        <title>Comunidades</title>
    </div>

    <div sec:authorize="hasRole('BUSINESS')">
        <title>Equipos</title>
    </div>
</head>

<body>

<div layout:fragment="navbar"></div>

<!-- fragment contenido html -->
<div layout:fragment="content">
    <div sec:authorize="hasRole('PLAIN_USER')">
        <div class="tabla1">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th style="text-align:center; color:white;">Mis comunidades</th>
                    <th style="text-align:center;"><a class="box-title btn btn-success" th:href="@{/community/create}">Nueva
                        comunidad</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="community,iter : ${communities}">
                    <td style="text-align:center;" th:text="${community.name}"></td>
                    <td style="text-align:center;"><a class="box-title btn btn-warning"
                                                      th:href="@{'/community/' + ${community.id}}">Meloners</a></td>

                    <!--ModalButton - <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Meloners</button></td></td>-->
                    <!-- Button trigger modal -->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div sec:authorize="hasRole('BUSINESS')">
            <div class="tabla1">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th style="text-align:center; color:white;">Mis equipos</th>
                        <th style="text-align:center;"><a class="box-title btn btn-primary"
                                                          th:href="@{/community/create}">Nuevo equipo</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="community,iter : ${communities}">
                        <td style="text-align:center;" th:text="${community.name}"></td>
                        <td style="text-align:center;"><a class="box-title btn btn-info"
                                                          th:href="@{'/community/' + ${community.id}}">Usuarios</a></td>

                        <!--ModalButton - <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Meloners</button></td></td>-->
                        <!-- Button trigger modal -->

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>
</body>
</html>