<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layoutHome}">

<head>
    <title>Nuevo mensaje</title>
</head>

<body>
<div layout:fragment="navbar"></div>

<div layout:fragment="content">
    <div sec:authorize="hasRole('PLAIN_USER')">
    <link rel="stylesheet" th:href="@{/css/mensajes.css}"/>
    </div>

    <div sec:authorize="hasRole('BUSINESS')">
        <link rel="stylesheet" th:href="@{/css/mensajesB.css}"/>
    </div>
    <script type="text/javascript" th:src="@{/js/sidebarNav.js}"></script>

    <div class="box-body">
        <form th:action="@{/mensajes/create}" class="form" method="post">
            <div class="mailbox">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a th:href="@{/mensajes/create}" class="active" >Nuevo mensaje</a>
                    <a th:href="@{/mensajes/list}">Recibidos</a>
                    <a th:href="@{/mensajes/saved}">Borradores</a>
                    <a th:href="@{/mensajes/sent}" >Enviados</a>
                    <a th:href="@{/mensajes/delete}">Eliminados</a>
                    <a th:href="@{/mensajes/invited}">Invitaciones</a>
                </div>
                <div>
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9993; Buzón</span>
                </div>
                <div class="messages">
                    <div class="table-responsive">
                        <label for="name" th:text="#{Mensaje.mensaje}"></label>
                        <input type="text" class="form-control"
                               id="title" placeholder="Asunto"
                               th:field="${mensaje.title}"
                               maxlength="255"
                                required>
                        <input type="text" class="textarea"
                               id="name" placeholder="Escribe aquí tu mensaje..."
                               th:field="${mensaje.mensaje}"
                               maxlength="255"
                               required>
                        <div class="container">
                                <p>Enviar a: </p>
                                <select style="width:100%; text-align:center" id="multiple-users" multiple="multiple"
                                th:field="*{mensaje.users}">
                                    <option th:each="user : ${users}"
                                            th:value="${{user}}"
                                            th:text="'&#127816;' + '  ' + ${user.username}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row" style="margin-top:5%">
                                <div class="sendButton">
                                    <button class="button button1" type="submit" name="btnSaveEdit" value="Save"
                                    >Enviar</button>
                                    <a th:href="@{'/mensajes/save'}" style="float:right" class="button button1"
                                       onclick="return confirm('Mensaje guardado en borradores')">&#128194;</a>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
            </div>
        </form>
    </div>
</div>

</div>
</div>

</body>
</html>


